body {
    position: absolute;
    background-image: url("https://www.usnews.com/dims4/USNEWS/eaa8af8/2147483647/resize/1200x%3E/quality/85/?url=http%3A%2F%2Fmedia.beam.usnews.com%2F22%2Ff2%2F4609fa4747298709af9f1269bbd6%2F150710-hiking-stock.jpg");
    background-repeat:no-repeat;
    background-size:100% 100vh;
}

main {
  display: flex;
  justify-content: center;
  font-family: "Fira Sans Extra Condensed", sans-serif;
}

h1 {
  font-family: "Courgette", cursive;
  background-color: #1e392a;
  color: #3cc47c;
  border-radius: 10px;
  padding: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
    color: white;
}

input {
  border-radius: 10px;
  margin: 5px;
  background-color: #e9c893;
}

button {
  border-radius: 10px;
  margin: 5px;
  background-color: #1e392a;
  color: #3cc47c;
}

p {
  visibility: hidden;
  color: #1e392a;
  font-family: "Fira Sans Extra Condensed", sans-serif;
    padding: 10px;
}

img {
    visibility: hidden;
    height: 40%;
    width: 40%;
    
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
}

a {
    text-decoration: none;
    font-family: 'Courgette', cursive;
    color: white;
}

@media only screen and (min-width: 768px) {
  main {
    display: flex;
    justify-content: flex-start;
  }

  #about {
    display: flex;
    justify-content: flex-end;
  }

  p {
    visibility: visible;
    display: flex;
    justify-content: flex-end;
    width: 65%;
    background-color: #1e392a;
    border-radius: 10px;
    color: #3cc47c;
  }


 
}
